<%=link_to "Back to dashboard", dashboard_path %>
<table>
  <thead>
    <tr>
      <th></th>
      <% @data.values.map {|v| v.keys}.flatten.uniq.sort.each do |route| %>
        <th><%= link_to route, route_instances_path(route_name: route, player_id: "*", play_name: "*", practice_id: "*") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @data.keys.sort.each do |player| %>
      <tr>
         <td><%= link_to Player.find_by(id: player).name, route_instances_path(player_id: player, route_name: "*", play_name: "*", practice_id: "*") %></td>
        <% @data.values.map {|v| v.keys}.flatten.uniq.sort.each do |route| %>
          <td><%= number_to_percentage(100*@data[player][route][0].to_f / @data[player][route][1].to_f,precision:2) if @data[player][route].present? %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
