<div>
    <h3>
        Admin Dashboard 
        <button >Add User</button> 
        <button>Log Out</button>
    </h3>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.role %></td>
        <td><%= user.email %></td>
        <td><%= link_to "Edit", edit_book_path(book) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
