<div> 
  <button id="delete-button" type="button">Delete User</button>

  <div id="delete-modal" style="display:none;">
    <%= form_for @user, method: :delete, id: "delete-form" do |f| %>
      <%= f.submit "Confirm Delete", id:"confirm-delete"%>
      <button type="button" onclick="closeDeleteModal()">Cancel</button>
    <% end %>
  </div>

  <script>
    document.getElementById("delete-button").addEventListener("click", function() {
      document.getElementById("delete-modal").style.display = "block";
    });

    function closeDeleteModal() {
      document.getElementById("delete-modal").style.display = "none";
    }
  </script>
</div>
