<div id="<%= dom_id user %>">
  <p>
  <strong>Name:</strong>
  <span id="name">
    <%= user.name%>
  </span>
  </p>

  <p>
  <strong>Role:</strong>
  <span id="role">
    <%= user.role%>
  </span>
</div>
  </p>

  <p>
  <strong>Email:</strong>
  <span id="email">
    <%= user.email%>
  </span>
  </p>

  </div>
