
<h1>Editing user</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= button_to "Delete User", @user, method: :delete, class: "delete-user"%>
  <button id="log-out">
    <%= link_to "Back", admin_path %>
  </button>
</div>
