<h1>Editing practice video</h1>

<%= render "form", practice_video: @practice_video %>

<br>

<div>
  <%= link_to "Show this practice video", @practice_video %> |
  <%= link_to "Back to practice videos", practice_videos_path %>
</div>
